In [16]:
import requests
import pandas as pd
import defs

In [17]:
session = requests.Session()

In [18]:
instrument = "EUR_USD"
count = 10
granularity = "H1"
defs.OANDA_URL

'https://api-fxpractice.oanda.com/v3'

In [19]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [20]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [21]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [22]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 2172,
   'time': '2024-05-10T11:00:00.000000000Z',
   'bid': {'o': '1.07777', 'h': '1.07801', 'l': '1.07746', 'c': '1.07787'},
   'mid': {'o': '1.07784', 'h': '1.07808', 'l': '1.07754', 'c': '1.07794'},
   'ask': {'o': '1.07792', 'h': '1.07815', 'l': '1.07761', 'c': '1.07801'}},
  {'complete': True,
   'volume': 3362,
   'time': '2024-05-10T12:00:00.000000000Z',
   'bid': {'o': '1.07786', 'h': '1.07807', 'l': '1.07656', 'c': '1.07695'},
   'mid': {'o': '1.07794', 'h': '1.07814', 'l': '1.07663', 'c': '1.07702'},
   'ask': {'o': '1.07801', 'h': '1.07821', 'l': '1.07670', 'c': '1.07709'}},
  {'complete': True,
   'volume': 3355,
   'time': '2024-05-10T13:00:00.000000000Z',
   'bid': {'o': '1.07694', 'h': '1.07895', 'l': '1.07690', 'c': '1.07866'},
   'mid': {'o': '1.07701', 'h': '1.07902', 'l': '1.07697', 'c': '1.07875'},
   'ask': {'o': '1.07708', 'h': '1.07909', 'l': '1.07704', 'c': '1.07884'}},
  {'complete': True,
   'volume': 5685,
   'time': '2024-05-10T14:00:00.000000000Z',
   'bid': {'o': '1.07860', 'h': '1.07885', 'l': '1.07596', 'c': '1.07634'},
   'mid': {'o': '1.07867', 'h': '1.07894', 'l': '1.07604', 'c': '1.07641'},
   'ask': {'o': '1.07874', 'h': '1.07904', 'l': '1.07611', 'c': '1.07648'}},
  {'complete': True,
   'volume': 2682,
   'time': '2024-05-10T15:00:00.000000000Z',
   'bid': {'o': '1.07631', 'h': '1.07718', 'l': '1.07619', 'c': '1.07715'},
   'mid': {'o': '1.07638', 'h': '1.07725', 'l': '1.07626', 'c': '1.07722'},
   'ask': {'o': '1.07645', 'h': '1.07732', 'l': '1.07633', 'c': '1.07729'}},
  {'complete': True,
   'volume': 1980,
   'time': '2024-05-10T16:00:00.000000000Z',
   'bid': {'o': '1.07716', 'h': '1.07789', 'l': '1.07688', 'c': '1.07752'},
   'mid': {'o': '1.07724', 'h': '1.07796', 'l': '1.07695', 'c': '1.07759'},
   'ask': {'o': '1.07731', 'h': '1.07803', 'l': '1.07702', 'c': '1.07766'}},
  {'complete': True,
   'volume': 1095,
   'time': '2024-05-10T17:00:00.000000000Z',
   'bid': {'o': '1.07756', 'h': '1.07769', 'l': '1.07726', 'c': '1.07736'},
   'mid': {'o': '1.07763', 'h': '1.07776', 'l': '1.07733', 'c': '1.07743'},
   'ask': {'o': '1.07770', 'h': '1.07783', 'l': '1.07740', 'c': '1.07750'}},
  {'complete': True,
   'volume': 1029,
   'time': '2024-05-10T18:00:00.000000000Z',
   'bid': {'o': '1.07735', 'h': '1.07736', 'l': '1.07692', 'c': '1.07729'},
   'mid': {'o': '1.07742', 'h': '1.07743', 'l': '1.07699', 'c': '1.07736'},
   'ask': {'o': '1.07749', 'h': '1.07750', 'l': '1.07706', 'c': '1.07743'}},
  {'complete': True,
   'volume': 950,
   'time': '2024-05-10T19:00:00.000000000Z',
   'bid': {'o': '1.07728', 'h': '1.07752', 'l': '1.07710', 'c': '1.07712'},
   'mid': {'o': '1.07735', 'h': '1.07759', 'l': '1.07718', 'c': '1.07719'},
   'ask': {'o': '1.07742', 'h': '1.07766', 'l': '1.07725', 'c': '1.07726'}},
  {'complete': True,
   'volume': 1011,
   'time': '2024-05-10T20:00:00.000000000Z',
   'bid': {'o': '1.07711', 'h': '1.07715', 'l': '1.07676', 'c': '1.07690'},
   'mid': {'o': '1.07718', 'h': '1.07722', 'l': '1.07686', 'c': '1.07708'},
   'ask': {'o': '1.07725', 'h': '1.07732', 'l': '1.07693', 'c': '1.07726'}}]}

In [23]:
data = response.json()
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [24]:
len(data.keys())

3

In [25]:
len(data["candles"])

10

In [26]:
prices = ["mid", "bid", "ask"]
ohlc = ["o", "h", "l", "c"]

In [27]:
our_data = []

for candle in data["candles"]:
    if candle["complete"] == False:
        continue
    new_dict = {}
    new_dict["time"] = candle["time"]
    new_dict["volume"] = candle["volume"]
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)

print (our_data[0])

{'time': '2024-05-10T11:00:00.000000000Z', 'volume': 2172, 'mid_o': '1.07784', 'mid_h': '1.07808', 'mid_l': '1.07754', 'mid_c': '1.07794', 'bid_o': '1.07777', 'bid_h': '1.07801', 'bid_l': '1.07746', 'bid_c': '1.07787', 'ask_o': '1.07792', 'ask_h': '1.07815', 'ask_l': '1.07761', 'ask_c': '1.07801'}

In [28]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-05-10T11:00:00.000000000Z,2172,1.07784,1.07808,1.07754,1.07794,1.07777,1.07801,1.07746,1.07787,1.07792,1.07815,1.07761,1.07801
1,2024-05-10T12:00:00.000000000Z,3362,1.07794,1.07814,1.07663,1.07702,1.07786,1.07807,1.07656,1.07695,1.07801,1.07821,1.07670,1.07709
2,2024-05-10T13:00:00.000000000Z,3355,1.07701,1.07902,1.07697,1.07875,1.07694,1.07895,1.07690,1.07866,1.07708,1.07909,1.07704,1.07884
3,2024-05-10T14:00:00.000000000Z,5685,1.07867,1.07894,1.07604,1.07641,1.07860,1.07885,1.07596,1.07634,1.07874,1.07904,1.07611,1.07648
4,2024-05-10T15:00:00.000000000Z,2682,1.07638,1.07725,1.07626,1.07722,1.07631,1.07718,1.07619,1.07715,1.07645,1.07732,1.07633,1.07729
5,2024-05-10T16:00:00.000000000Z,1980,1.07724,1.07796,1.07695,1.07759,1.07716,1.07789,1.07688,1.07752,1.07731,1.07803,1.07702,1.07766
6,2024-05-10T17:00:00.000000000Z,1095,1.07763,1.07776,1.07733,1.07743,1.07756,1.07769,1.07726,1.07736,1.07770,1.07783,1.07740,1.07750
7,2024-05-10T18:00:00.000000000Z,1029,1.07742,1.07743,1.07699,1.07736,1.07735,1.07736,1.07692,1.07729,1.07749,1.07750,1.07706,1.07743
8,2024-05-10T19:00:00.000000000Z,950,1.07735,1.07759,1.07718,1.07719,1.07728,1.07752,1.07710,1.07712,1.07742,1.07766,1.07725,1.07726
9,2024-05-10T20:00:00.000000000Z,1011,1.07718,1.07722,1.07686,1.07708,1.07711,1.07715,1.07676,1.07690,1.07725,1.07732,1.07693,1.07726

In [29]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [30]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-05-10T11:00:00.000000000Z,2172,1.07784,1.07808,1.07754,1.07794,1.07777,1.07801,1.07746,1.07787,1.07792,1.07815,1.07761,1.07801
1,2024-05-10T12:00:00.000000000Z,3362,1.07794,1.07814,1.07663,1.07702,1.07786,1.07807,1.07656,1.07695,1.07801,1.07821,1.07670,1.07709
2,2024-05-10T13:00:00.000000000Z,3355,1.07701,1.07902,1.07697,1.07875,1.07694,1.07895,1.07690,1.07866,1.07708,1.07909,1.07704,1.07884
3,2024-05-10T14:00:00.000000000Z,5685,1.07867,1.07894,1.07604,1.07641,1.07860,1.07885,1.07596,1.07634,1.07874,1.07904,1.07611,1.07648
4,2024-05-10T15:00:00.000000000Z,2682,1.07638,1.07725,1.07626,1.07722,1.07631,1.07718,1.07619,1.07715,1.07645,1.07732,1.07633,1.07729
5,2024-05-10T16:00:00.000000000Z,1980,1.07724,1.07796,1.07695,1.07759,1.07716,1.07789,1.07688,1.07752,1.07731,1.07803,1.07702,1.07766
6,2024-05-10T17:00:00.000000000Z,1095,1.07763,1.07776,1.07733,1.07743,1.07756,1.07769,1.07726,1.07736,1.07770,1.07783,1.07740,1.07750
7,2024-05-10T18:00:00.000000000Z,1029,1.07742,1.07743,1.07699,1.07736,1.07735,1.07736,1.07692,1.07729,1.07749,1.07750,1.07706,1.07743
8,2024-05-10T19:00:00.000000000Z,950,1.07735,1.07759,1.07718,1.07719,1.07728,1.07752,1.07710,1.07712,1.07742,1.07766,1.07725,1.07726
9,2024-05-10T20:00:00.000000000Z,1011,1.07718,1.07722,1.07686,1.07708,1.07711,1.07715,1.07676,1.07690,1.07725,1.07732,1.07693,1.07726